:root {
    --primary: var(--color-red-600);
    --background: #fff;
    --primary: #BE3030;
    --textdark: #363434;
    --lightborder: #BAC2CA;
    --font-montserrat: 'Montserrat', sans-serif;
}



/* header start*/
@media (max-width: 1024px) {
    .header-wrapper {
        margin: 0 auto;
        padding: 24px 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav-links,
    .auth-buttons {
        display: none;
    }

    .menu-button {
        display: block;
    }
}

@media (max-width: 768px) {
     .header-wrapper {
        margin: 0 auto;
        padding: 24px 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


    .header-logo span {
        font-size: 1.125rem;
    }

    .mobile-menu {
        width: 260px;
        padding: 16px;
    }

    .mobile-links {
        gap: 1rem;
    }

    .mobile-auth {
        display: flex;
        flex-direction: column;
        gap: 12px;

    }

    .mobile-btn-primary,
    .mobile-btn-secendary {
        padding: 10px 16px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .header-wrapper {
        margin: 0 auto;
        padding: 24px 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header-logo span {
        font-size: 1rem;
    }

    .mobile-menu {
        width: 256px;
        padding: 16px;
    }

    .mobile-links{
        font-size: 14px;
    }

    .mobile-auth {
        display: flex;
        flex-direction: column;
        gap: 12px;

    }

    .mobile-btn-primary,
    .mobile-btn-secendary {
        padding: 8px 12px;
        font-size: 13px;
    }
}

/* header end */




/* hero section start */
@media(max-width:1024px) {
    .hero-container {
        height: fit-content;
    }

    .hero-content p {
        font-size: 32px;
        font-family: var(--text-font);
    }
}

@media(max-width:768px) {
    .hero-container {
        height: fit-content;
    }

    .hero-content h1 {
        font-size: 32px;
        font-family: var(--text-font);

    }

    .hero-content p {
        font-size: 24px;
        text-wrap: wrap;
        font-family: var(--text-font);
    }

    .hero-content button {
        border-radius: 10px;

    }

}

@media(max-width:480px) {
    .hero-container {
        height: fit-content;
    }

    .hero-content h1 {
        font-size: 24px;
        font-family: var(--text-font);
    }

    .hero-content p {
        font-size: 16px;
        font-family: var(--text-font);
    }

    .hero-content button {
        border-radius: 10px;

    }
}

/* hero section end */




/*  homeageabout section start*/

@media(max-width:1024px) {}

@media(max-width:768px) {
    .homepage-about-container {
        padding: 32px 16px;
        max-width: 1280px;
        margin: auto;
    }

    .homepage-about-wrapper {
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 100%;
    }

    .homepage-about-left-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 16px;
    }

    .homepage-about-left-section-text {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .homepage-about-left-section-header {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.4;
        color: var(--primaryText);
    }

    .homepage-about-left-section-desc {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 14px;
        line-height: 24px;
        color: #000;
    }

    .more-info-btn {
        padding: 8px 36px;
        background-color: #BE3030;
        border: 1px solid #ccc;
        color: white;
        border-radius: 10px;
        font-weight: 400;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .more-info-btn:hover {
        background-color: #f5f5f5;
    }

    .homepage-about-right-section {
        display: flex;
        width: 100%;
        flex-direction: row;
        gap: 12px;
    }

    .homepage-about-image {
        height: 1/2;
        width: 1/2;
        border-radius: 4px;
        filter: contrast(1.4);
    }

}

@media (max-width:480px) {

    .homepage-about-container {
        padding: 32px 16px;

        margin: auto;
    }

    .homepage-about-wrapper {
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 100%;
    }

    .homepage-about-left-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 16px;
    }

    .homepage-about-left-section-text {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .homepage-about-left-section-header {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.4;
        color: var(--primaryText);
    }

    .homepage-about-left-section-desc {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 14px;
        line-height: 24px;
        color: #656565;
    }

    .more-info-btn {
        padding: 8px 36px;
        background-color: #BE3030;
        border: 1px solid #ccc;
        color: white;
        border-radius: 10px;
        font-weight: 400;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .more-info-btn:hover {
        background-color: #f5f5f5;
    }

    .homepage-about-right-section {
        display: flex;
        width: 100%;
        flex-direction: row;
        gap: 12px;
    }

    .homepage-about-image {
        height: 1/2;
        width: 1/2;
        border-radius: 4px;
        filter: contrast(1.4);
    }

}

/* homepageabout section end */



/* homepage banner start */

/* Responsive Layout */
@media (min-width: 768px) {
  .homepage-banner-content {
    flex-direction: row;
  }
    .homepage-banner-title {
    font-size: 2.25rem; /* 4xl */
    margin-bottom: 0;
    text-align: left;
  }
}

/* homepage banner end */


/* affiliation section start */
@media (min-width: 640px) {
  .affiliation-cards-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .affiliation-cards-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* affiliation card end */